* {
    margin: 0;
    padding: 0;
    font-family: "Fugaz One", Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    width: 100vw;
    gap: 20px;
   
}

html {
    padding: 0;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    width: 10vw;
    /* position: fixed; */
    z-index: 1;
    background-color: #57A773;
    padding-top: 20px;
    
}
.top{
    display: flex;
    flex-direction: column;
}
.top a{
    
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FDF0D5;
    display: block;
}
.sidebar img{
    width: 8vw;
    height: fit-content;
}
.sidebar a:hover{
    text-decoration: underline;
}

.sidebar button{
    position: relative;
    bottom: 50;
    width: 9vw;
    height: 5vh
}


/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

.breakfasts{
    display: grid;
    /* position: relative; */
    grid-template-columns: 1fr 1fr 1fr ;
    height: 100vh;
    gap: 20px;
    padding: 20px;
   

    
}
.orderslide{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color:#57A773;
    border-width: 5px;
    margin-top: 10px;
}
.orderslide img {
    max-width: 20rem;
    width: 10rem;
    aspect-ratio: 1;
    margin-bottom: 10px;
}

.orderslide button{
    background-color: #57A773;
    color: white;
    width: 8rem;
    height: 2rem;
    margin-top: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color:#57A773;
    border-width: 5px;
    font-size: 1rem;
}

.orderslide button:hover{
    background-color: white;
    color:#57A773;
    transition: .5s;
}

.orderslide h1{
    font-size: 1.5rem;
    text-align: center;
    
}

.orderslide p {
    font-size: 1rem;
    text-align: center;
    color: grey;
}

.cartpanel{
    height: 250px;
    width: 0;
    z-index: 1;
    background-color: #57A773;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}

.cartpanel .closebtn {
    
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #57A773;
    
    padding: 10px 15px;
    border: none;
  }
  
 