* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-items: baseline;
    gap: 20px;
}

html {
    padding: 0;
}
.sidebar{
    height: 100vh;
    width: 10vw;
    /* position: fixed; */
    z-index: 1;
    background-color: #57A773;
    padding-top: 20px;
}

.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FDF0D5;
    display: block;
}
.sidebar img{
    width: 5vw;
    height: fit-content;
}
.sidebar a:hover{
    text-decoration: underline;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.breakfasts{
    display: grid;
    
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vh;
    background-color: #FDF0D5;
    
    
}
.orderslide p{

font-size: 1rem;
color: black;
}

.orderslide h1{
    font-size: 2rem;
    color: black;
}


.orderslide img{
    width: 15vw;
    height: fit-content;
}