*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}
body{
    font-family: "Fraunces", serif;
    background-color: #f5f3ec;
}
.nav-container{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;  
}

header{
    background-color: #2c6e49 ;
    color: #f7f7f9;
    padding: 10px 0;
}

nav{
    text-align: center;
}
html{
  scroll-behavior: smooth;
}
.logo a{
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 1.25rem;
  color: #f5f3ec;
  font-weight: 600;
  top: 30px;
  left: 20px;
  text-decoration: none;
}
.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.nav-links li{
    display: inline-block;
    text-align: center;
}

.nav-links li a{
    color: #f7f7f9;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: center;
}

.nav-links li a:hover{
   text-decoration: underline;
   color: #f7f7f9;
}

.content{
    padding: 50px 0;
    text-align: center;
}
.button-row{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-align: center;
  gap: 20px;
  padding: 10px 20px;
  font-size: 2vw;
  font-weight: 600;
  color: #2c6e49;
  margin-top: 30px;
  
}

.button-row a:visited{text-decoration: none; color: #2c6e49;}


.title{
  font-size: 4.5vw;
  font-weight: 700;
}
.menu-body{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: right;
  text-align: right;
  align-items: right;
  margin: 20px;
  width: 45vw;
  margin-left: 53vw;
  height: inherit;
  background-color: #f7f7f9;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
}
.breakfast{
  display: grid;
  grid-template-columns: 2fr;
  justify-content: right;
  text-align: right;
  align-items: right;
  margin: 20px;
  
  
}

.breakfast h1{
 font-size: 2rem;
 margin: 10px;
 
 
}

.breakfast a{
  font-size: 1.6rem;
}

.Lunch{
  display: grid;
  grid-template-columns: 2fr;
  justify-content: right;
  text-align: right;
  align-items: right;
  margin: 20px;
}

.Lunch h1{
 font-size: 2rem;
 margin: 10px;
 
}

.Lunch a{
  font-size: 1.6rem;
}

.Dinner{
  display: grid;
  grid-template-columns: 2fr;
  justify-content: right;
  text-align: right;
  align-items: right;
  margin: 20px;
}

.Dinner h1{
 font-size: 2rem;
 margin: 10px;
 
}

.Dinner a{
  font-size: 1.6rem;
}

.menu-images{
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
  justify-content: left;
  align-items: left;
  margin: 20px;
  width: 45vw;
  top: 400px;
  margin-right: 53vw;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.breakfast_slide{
  display: none;
  width: 45vw;
  border-radius: 10px;
}

.lunch_slides{
  display: none;
  width: 45vw;
  border-radius: 10px;
}

.dinner_slide{
  display: none;
  width: 45vw;
  border-radius: 10px;
}

.text{
  color: #f5f3ec;
  font-size: 2vw;
  padding: 8px 12px;
  position: relative;
  top: -50px;
  width: 100%;
  text-align: center;
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: #717171;
}

.menu-images2{
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
  justify-content: left;
  align-items: left;
  margin: 20px;
  width: 45vw;
  top: 1800px;
  margin-right: 53vw;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
}

.menu-images3{
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
  justify-content: left;
  align-items: left;
  margin: 20px;
  width: 45vw;
  top: 3150px;
  margin-right: 53vw;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
}


.lunch_text{
  color: #f5f3ec;
  font-size: 2vw;
  padding: 8px 12px;
  position: relative;
  top: -50px;
  width: 100%;
  text-align: center;
}