*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}
body{
    font-family: "Fraunces", serif;
    background-color: #f5f3ec;

}
.nav-container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;  
}
  
.nav-container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;  
}
    
header{
    background-color: #2c6e49 ;
    color: #f7f7f9;
    padding: 10px 0;
}
    
.logo{
        
    display: inline-block;
    flex-direction: row;
    font-size: 2vw;
    list-style-type: none;
    padding: 0;
}
    
.logo a{
    font-weight: 600;
    color: #f5f3ec;
    text-decoration: none;
    font-size: 2.5vw;
    margin-right: 10vw;
}
    
.logo li{
    display: inline-block;
    margin-right: 10vw;
}
    
    
    
nav{
    text-align: center;
}
    
.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2.5vw;
}
    
.nav-links li{
    display: inline-block;
    text-align: center;
}
    
 .nav-links li a{
    color: #f7f7f9;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: center;
    z-index: 6;
}
    
.nav-links li a:hover{
    text-decoration: underline;
    color: #f7f7f9;
    z-index: 6;
}
    
.content{
    padding: 50px 0;
    text-align: center;
    z-index: 6;
}

.title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    padding: 10px auto;
    background-color: #2c6e49;
    color: #f5f3ec;
}

.websites,.reasources,.photos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    
}

.block{
    padding: 40px 80px;
    background-color: #2c6e49;
    border-radius: 15px;
    margin-bottom: 30px;
    
}

.websites h1,.reasources h1,.photos h1 {
    font-family: "poppins", serif;
    font-weight: 600;
}

.websites a,.reasources a,.photos a{
    font-family: "poppins", serif;
    color: #f5f3ec;
    font-size: 20px;
    text-decoration: none;
}

.websites a:hover,.reasources a:hover,.photos a:hover{
    padding: 5px 10px;
    color: #2c6e49;
    background-color: #f5f3ec;
    font-weight: 600;
    transition: .3s;
    border-radius: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2c6e49;
    color: #f5f3ec;
    height: 10vh;
}

footer a{
    color: #f5f3ec;
    font-size: 1.2vw;
    font-weight: 700;
    margin: 20px;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
}

.contact{
    display: flex;
    flex-direction: column;
    
}

.contact h1{
    font-size: 1.4vw;
}

.contact a{
    font-size: 1.2vw;
}

.conatct a:hover{
    text-decoration: underline;
}

.location{
    display: flex;
    flex-direction: column;
    
}

.location h1{
    font-size: 1.4vw;
}

.location a{
    font-size: 1.2vw;
}

.location a:hover{
    text-decoration: underline;
}





