
*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fugaz One", Arial, Helvetica, sans-serif;
}
body{
    /* font-family: "Fraunces", Arial, Helvetica, sans-serif; */
    background-color:#F4FAFF;
    scroll-behavior: smooth;
    font-family: "Fugaz One", Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    color: #2c6e49;
    h1 {
        
        font-size: 2rem;
    }
    #menu {
        gap: 20px;
        list-style: none;
        display: flex !important;
        a {
            font-size: 1.2rem;
            color: #2c6e49;
        }
    }
    #ham {
        display: none;
    }

    #ham:hover {
        cursor: pointer;
    }
}

    
.content{
    padding: 50px 0;
    text-align: center;
    z-index: 6;
}

.title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    padding: 10px auto;
    background-color: #2c6e49;
    color: #f5f3ec;
}

.websites,.reasources,.photos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    
}

.block{
    padding: 40px 80px;
    background-color: #2c6e49;
    border-radius: 15px;
    margin-bottom: 30px;
    
}

.websites h1,.reasources h1,.photos h1 {
    font-family: "poppins", serif;
    font-weight: 600;
}

.websites a,.reasources a,.photos a{
    font-family: "poppins", serif;
    color: #f5f3ec;
    font-size: 20px;
    text-decoration: none;
}

.websites a:hover,.reasources a:hover,.photos a:hover{
    padding: 5px 10px;
    color: #2c6e49;
    background-color: #f5f3ec;
    font-weight: 600;
    transition: .3s;
    border-radius: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2c6e49;
    color: #f5f3ec;
    height: 10vh;
}

footer a{
    color: #f5f3ec;
    font-size: 1.2vw;
    font-weight: 700;
    margin: 20px;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
}

.contact{
    display: flex;
    flex-direction: column;
    
}

.contact h1{
    font-size: 1.4vw;
}

.contact a{
    font-size: 1.2vw;
}

.conatct a:hover{
    text-decoration: underline;
}

.location{
    display: flex;
    flex-direction: column;
    
}

.location h1{
    font-size: 1.4vw;
}

.location a{
    font-size: 1.2vw;
}

.location a:hover{
    text-decoration: underline;
}





@media only screen and (max-width: 767px) {
    #ham {
        background-color: #297045;
        color: #297045;
        display: flex !important;
        background: none;
        border: none;
        z-index: 100;
        overflow-y: hidden;
        flex-direction: column;
        gap: 6px;
        span {
            background-color:#297045;
            width: 40px;
            height: 8px;
            border-radius: 10px;
        }       
    }

    #ham.active {
        
        gap: 0;
        span:nth-child(1) {
            
            transform: rotateZ(45deg) translateY(3px);
        }
        span:nth-child(2) {
           
            transform: rotateZ(-45deg) translateY(-3px);
        }
    }

    #menu {
    z-index: 99;
    position: absolute;
    top: -150vh;
    left: 0;
    background-color: #F4FAFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
        li {
            margin: 0 20px 0 0;
            overflow-y: hidden;
            
            a {
                text-decoration: none;
                font-size: 3.5rem;
                font-weight: 600;
                color: #2c6e49;
            }
            a:hover{
                text-decoration: underline;
                transition: ease-in-out .3s;
            }
        }
    }

    #menu.active {
        color: #F4FAFF;
        top: 0;
        z-index: 99;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #2c6e49;
        color: #f5f3ec;
        height: 5vh;
    }
    
    footer a{
        color: #f5f3ec;
        font-size: .3rem;
        font-weight: 300;
        margin: 10px;
        text-decoration: none;
}
}