*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}
body{
    font-family: "Fraunces", serif;
    background-color:white;
    
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  color: #2c6e49;
  h1 {
      
      font-size: 2rem;
  }
  #menu {
      gap: 20px;
      list-style: none;
      display: flex !important;
      a {
          font-size: 1.2rem;
          color: #2c6e49;
      }
  }
  #ham {
      display: none;
  }

  #ham:hover {
      cursor: pointer;
  }
}



  



.Coming {
    font-size: 10vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
  
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    background-color: #2c6e49;
    border-radius: 15px;
}

div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family:  "Fraunces", serif;
    padding-bottom: 10px;
    font-size: 1.25em;
    color: #f5f3ec;
    font-weight: 700;
    text-decoration: underline;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 5px solid #f5f3ec;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family:  "Fraunces", serif;
    width: 100%;
    padding: 10px;
    background-color: #2c6e49;
    color: #f5f3ec;
  }


  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #f5f3ec;
  }
  
  button {
    height: 9vh;
    padding: 10px 10px;
    background: #f5f3ec;
    border: none;
    color: #2c6e49;
    font-size: 1.25em;
    font-family:  "Fraunces", serif;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    padding: 15px 15px;
    font-size: 1.5rem;
    font-weight: 800;
    transition: ease-in-out .2s;
  }


  footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2c6e49;
    color: #f5f3ec;
    height: 10vh;
}

footer a{
    color: #f5f3ec;
    font-size: 1.2vw;
    font-weight: 700;
    margin: 20px;
    text-decoration: none;

}

.contact{
    display: flex;
    flex-direction: column;
    
}

.contact h1{
    font-size: 1.4vw;
}

.contact a{
    font-size: 1.2vw;
}

.conatct a:hover{
    text-decoration: underline;
}

.location{
    display: flex;
    flex-direction: column;
    
}

.location h1{
    font-size: 1.4vw;
}

.location a{
    font-size: 1.2vw;
}

.location a:hover{
    text-decoration: underline;
}



/* phone */
@media only screen and (max-width: 767px) {
  #ham {
      background-color: #297045;
      color: #297045;
      display: flex !important;
      background: none;
      border: none;
      z-index: 100;
      overflow-y: hidden;
      flex-direction: column;
      gap: 6px;
      span {
          background-color:#297045;
          width: 40px;
          height: 8px;
          border-radius: 10px;
      }       
  }

  #ham.active {
      
      gap: 0;
      span:nth-child(1) {
          
          transform: rotateZ(45deg) translateY(3px);
      }
      span:nth-child(2) {
         
          transform: rotateZ(-45deg) translateY(-3px);
      }
  }

  #menu {
  z-index: 99;
  position: absolute;
  top: -150vh;
  left: 0;
  background-color: #F4FAFF;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
      li {
          margin: 0 20px 0 0;
          overflow-y: hidden;
          
          a {
              text-decoration: none;
              font-size: 3.5rem;
              font-weight: 600;
              color: #2c6e49;
          }
          a:hover{
              text-decoration: underline;
              transition: ease-in-out .3s;
          }
      }
  }

  #menu.active {
      color: #F4FAFF;
      top: 0;
      z-index: 99;
  }

  form{
  
    width: 100vw;
    height: inherit;
    margin: 20px auto;
    padding: 50px;
    background-color: #2c6e49;
    border-radius: 15px;
}

div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family:  "Fraunces", serif;
    padding-bottom: 10px;
    font-size: 1.25em;
    color: #f5f3ec;
    font-weight: 700;
    text-decoration: underline;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 5px solid #f5f3ec;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family:  "Fraunces", serif;
    width: 100%;
    padding: 10px;
    background-color: #2c6e49;
    color: #f5f3ec;
  }


  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #f5f3ec;
  }
  
  button {
    height: 9vh;
    padding: 10px 10px;
    background: #f5f3ec;
    border: none;
    color: #2c6e49;
    font-size: 1.25em;
    font-family:  "Fraunces", serif;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    padding: 15px 15px;
    font-size: 1.5rem;
    font-weight: 800;
    transition: ease-in-out .2s;
  }

}