*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}
body{
    font-family: "Fraunces", serif;
    background-color:#F4FAFF;
    scroll-behavior: smooth;
}
.nav-container{
  max-width: 100%;
  overflow: hidden;  
}

header{
    background-color: #F4FAFF ;
    color: #297045;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.logo{
    
    display: inline-block;
    flex-direction: row;
    font-size: 2vw;
    list-style-type: none;
    padding: 0;
    z-index: 10;
}

.logo a{
    color: #297045;
    font-family: "Fugaz One";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 2.5vw;
    margin-right: 5.25vw;
    z-index: 10;
}

.logo li{
    display: inline-block;
    margin-right: 8vw;
    z-index: 10;
}



nav{
    text-align: center;
    z-index: 10;
}

.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2.5vw;
    z-index: 10;
}

.nav-links li{
    display: inline-block;
    text-align: center;
    z-index: 10;
}

.nav-links li a{
    color: #297045;
    text-decoration: none;
    font-family: "Fugaz One";
    padding: 10px 10px;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: center;
    z-index: 10;
}

.nav-links li a:hover{
   text-decoration: underline;
   z-index: 10;
}

.content{
    padding: 50px 0;
    text-align: center;
    z-index: 10;
}



.main-word{
    display:grid;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-image: url("Vegetable_Background.png");
    background-size: cover;
    border-radius: 10px;
    width: calc(100% - 80px);
    height: 107vh;
    z-index: 5;
    
}

.main-word img{
   position: relative;
   justify-self: center;
   justify-content: center;
   align-items: center;
   height:fit-content;
   width:35vw;
   z-index: 0;
   padding: 1rem 1rem;
   background: none;
   bottom: 8vh;
   border-radius: 25px;
}

.word img{
    position: relative;
   justify-self: center;
   justify-content: center;
   align-items: center;
}
@keyframes slide{
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
}
.imagecarousel{
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.imagecarousel:before,
.imagecarousel:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.imagecarousel:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.imagecarousel:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.imagecarousel:hover .image-slides {
    animation-play-state: paused;
  }

.image-slides{
    display: inline-block;
    animation: 35s silde infinite linear;
}

.image-slides img{
    height: 50px;
    margin: 0 40px;
}




.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    
}


.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;  
    width: 45vw;
    height: fit-content;
    margin-top: 20px;
    background-color: #2c6e49;
    border: 5px solid #2c6e49;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-radius: 10px;   
    transition: ease-in .5s;
   
}


.menu-container h1{
    text-align: center;
    margin-top: 20px;
    font-size: 5vw;
    font-weight: 700;
    color: #f5f3ec;
}
.menu-container p {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.8vw;
    font-weight: 400;
    padding: 20px 40px;
    color: #f5f3ec;
}

.menu-container a{
    text-align: center;
    font-weight: 700;
    font-size: 2.7vw;
    color: #f5f3ec;
    margin-bottom: 30px;
    text-decoration: none;
}

.menu-container a:hover{
    text-decoration: underline;
    transition: ease-in-out .3s;
}


.menu img{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;   
    width: 45vw;
    height: fit-content;
    margin-top: 20px;
    background-color: #2c6e49;
    border: 5px solid #2c6e49;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-radius: 10px;   
    
}

.things{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: ease .5s;
    
}

.things-block{
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    font-weight:400;
    padding: 20px 30px;
    margin: 13px;
    background-color: #2c6e49;
    color: #f5f3ec;
    border-radius: 5px;
    margin-bottom: 20px;
}

.story{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.story img{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;   
    width: 45vw;
    height: fit-content;
    margin-top: 20px;
    background-color: #2c6e49;
    border: 7px solid #2c6e49;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.story-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;  
    width: 45vw;
    height: fit-content;
    margin-top: 20px;
    background-color: #2c6e49;
    border: 5px solid #2c6e49;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-radius: 10px;   

}

.story-container p {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.8vw;
    font-weight: 400;
    padding: 20px 40px;
    color: #f5f3ec;
}

.story-container h1{
    text-align: center;
    margin-top: 20px;
    font-size: 5vw;
    font-weight: 700;
    color: #f5f3ec;
}

.story a{
    text-align: center;
    font-weight: 700;
    font-size: 2.7vw;
    color: #f5f3ec;
    margin-bottom: 30px;
    text-decoration: none;
}

.story a:hover{
    text-decoration: underline;
    transition: ease-in-out .3s;
}

.reservation{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: ease-in .5s;
}

.reservation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;  
    width: 45vw;
    height: fit-content;
    margin-top: 20px;
    background-color: #2c6e49;
    border: 5px solid #2c6e49;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-radius: 10px;    

}

.reservation-container p {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.8vw;
    font-weight: 400;
    padding: 20px 40px;
    color: #f5f3ec;
}

.reservation-container h1{
    text-align: center;
    margin-top: 20px;
    font-size: 5vw;
    font-weight: 700;
    color: #f5f3ec;
}

.reservation-container a{
    text-align: center;
    font-weight: 700;
    font-size: 2.7vw;
    color: #f5f3ec;
    margin-bottom: 30px;
    text-decoration: none;
}

.reservation-container a:hover{
    text-decoration: underline;
    transition: ease-in-out .3s;
}

.reservation img{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;   
    width: 45vw;
    height: fit-content;
    margin-top: 20px;
    background-color: #2c6e49;
    border: 7px solid #2c6e49;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.spacer{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.spacer img{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;   
    width: 91vw;
    height: 70vh;
    margin-top: 20px;
    background-color: #2c6e49;
    border: 7px solid #2c6e49;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2c6e49;
    color: #f5f3ec;
    height: 10vh;
}

footer a{
    color: #f5f3ec;
    font-size: 1.2vw;
    font-weight: 700;
    margin: 20px;
    text-decoration: none;

}

.contact{
    display: flex;
    flex-direction: column;
    
}

.contact h1{
    font-size: 1.4vw;
}

.contact a{
    font-size: 1.2vw;
}

.conatct a:hover{
    text-decoration: underline;
}

.location{
    display: flex;
    flex-direction: column;
    
}

.location h1{
    font-size: 1.4vw;
}

.location a{
    font-size: 1.2vw;
}

.location a:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 500px) {
    .main-word img{
   position: relative;
   justify-self: center;
   justify-content: center;
   align-items: center;
   height:150vh;
   width: 100vw;
   z-index: 0;
   padding: 1rem 1rem;
   background: none;
   bottom: 8vh;
}
  }
