*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}
body{
    font-family: "Fraunces", serif;
    background-color: #f5f3ec;
}
.nav-container{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;  
}

header{
    background-color: #2c6e49 ;
    color: #f7f7f9;
    padding: 10px 0;
}

.logo{
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 20px;
}

.logo a{
    font-weight: 600;
    color: #f5f3ec;
    text-decoration: none;
    font-size: 20px;
}

.logo a:hover{
    color: #2c6e49;
    padding: 10px 20px;
    background-color: #f5f3ec;
    border-radius: 5px;
}

nav{
    text-align: center;
}

.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.nav-links li{
    display: inline-block;
    text-align: center;
}

.nav-links li a{
    color: #f7f7f9;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: center;
}

.nav-links li a:hover{
   text-decoration: underline;
   color: #f7f7f9;
}

.content{
    padding: 50px 0;
    text-align: center;
}

.border{
    height: 97vh;
    width: 100%;
    background-color: #2c6e49;
    z-index: 4;
}


.main-word{
    display:grid;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7f7f9;
    width: calc(100% - 80px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 15vw;
    font-weight: 400;
    font-style: normal;
    gap: 0px 0px;
    height: 92vh;
    margin: 0 auto;
    z-index: 5;
    
}
<<<<<<< HEAD
.main-word p{
    margin-bottom: 200px;
    gap: 10px;
=======

.Oh {
    position: relative;
    display: inline-block;
    font-size: 300px;
    font-weight: 400;
    font-style: normal;
    bottom: 150px;
    right: 50px;
    z-index: 1;
}
.So{
    position: relative;
    display: inline-block;
    font-size: 300px;
    font-weight: 400;
    font-style: normal;
    bottom: 150px;
    left: px;
    z-index: 1;
>>>>>>> d9b5bfc741aebd1b93ef8d83a2b0914a7a7fdc81
}
.main-word img{
    position: relative;
    display: inline-block;
    top: 150px;
    z-index: 0;
}

.menu{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 50px 40px;
    gap: 30px;
    
    
}

.menu img{
    align-content: left;
    width: 700px;
    height: inherit;
    border-radius: 10px;
    z-index: 3;

}

.menu-container{
    text-align: center;
    border: 5px solid #394053;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-radius: 10px;
    
}

.menu-container h1{
    margin-top: 20px;
    font-weight: 700;
    font-size: 40px;
    color: #394053;
}

.menu-container p {
    font-size: 20px;
    font-weight: 400;
    color: #394053;
}

.menu-container button{
    position: relative;
    padding: 1vw 2vw;
    font-size: 3vw;
    color: #394053;
    border: 5px solid #394053;
    border-radius: 5px;
    background-color: #f7f7f9;
}

.menu-container button:hover{
    background-color: #2c6e49;
    color: #f7f7f9;
    transition: .3s;
}

.things{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.things-block{
    font-size: 50px;
    font-weight:400;
    padding: 20px 50px;
    margin-right: 30px;
    background-color: #2c6e49;
    color: #f5f3ec;
    border-radius: 5px;
    margin-bottom: 20px;
}

.story{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.story img{
    height: 300px;
    width: 80px;
    margin: 10px;
    transition: ease-out .5s;
    border-radius: 5px;
}

.story-container{
    display: flex;
    border: 5px solid #2c6e49;
    height: 300px;
    flex-direction: column;
    justify-content: center;
   padding: 0px 10px;
   border-radius: 5px;
}

.story-container button{
    position: relative;
    top: 50px;
    padding: 20px 10px;
    font-size: 30px;
    color: #2c6e49;
    border: 5px solid #2c6e49;
    border-radius: 5px;
    background-color: #f5f3ec;
}

.story-container button:hover{
    background-color: #2c6e49;
    color: #f5f3ec;
    border: 5px solid #2c6e49;
    transition: .3s;
}

.story img:hover{
    height: 300px;
    width: 300px;
    margin: 10px;
    transition:  ease-in .5s;
    
}

@media (max-width: 1366px) {
    .Oh {
        position: relative;
        display: inline-block;
        font-size: 200px;
        font-weight: 400;
        font-style: normal;
        bottom: 150px;
        right: 50px;
    }
    .So{
        position: relative;
        display: inline-block;
        font-size: 300px;
        font-weight: 400;
        font-style: normal;
        bottom: 150px;
        left: px;
    }
    .main-word img{
        position: relative;
        display: inline-block;
        top: 150px;
    }
    
}

@media (max-width: 640px){
    .nav-links{
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    .Oh {
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 150px;
        font-weight: 400;
        font-style: normal;
        bottom: 300px;
        left: 250px;
    }
    .So{
        position: relative;
        display: inline-block;
        font-size: 150px;
        font-weight: 400;
        font-style: normal;
        top: 100px;
        right: 75px;
    }
    .Oh img{
        position: relative;
        display: inline-block;
        width: fit-content;
        height: 40%;
        top: 225px;
        right: 125px;
        z-index: 0;
    }

    .So img{
        position: relative;
        display: inline-block;
        width: 40%;
        height: fit-content;
        top: 50px;
        z-index: 0;
    }
    
}